body {
  background-color: #7FDBFF;
}

.page-title {
  margin-top: 2rem;
  font-size: 4em;
}

@import "Signup/_Signup.css";
@import "Login/_Login.css";
@import "Common/_FlashMessage.css";
@import "NavBar/_NavBar.css";
@import "Account/_AccountSettings.css";
